/*utility*/
/* line 6, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.row, .fullCon, .clear {
  box-sizing: border-box;
}

/* line 8, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.uCase {
  text-transform: uppercase;
}

/* line 9, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.camCase {
  text-transform: capitalize;
}

/* line 10, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.lCase {
  text-transform: lowercase;
}

/* line 11, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.hand, .Vert_tabs section label.tab_btn, .accordion label, select, .select::after {
  cursor: pointer;
}

/* line 13, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr_top {
  border-top: solid 1px #E6EBEF;
}

/* line 14, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.outline {
  outline: 1px solid #ddd;
}

/* line 15, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr0, .form_group input.custom_input, .debit_option input.cvv_input, .card_detail input.detail_input {
  border: 0;
}

/* line 16, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr_b {
  border-bottom: solid 1px #E6EBEF;
}

/* line 17, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr_line {
  border-top: solid 1px #e4eaf0;
  clear: both;
}

/* line 19, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
input, textarea, button, select, a, label {
  -webkit-tap-highlight-color: transparent;
}

/* line 22, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.list_n {
  list-style: none;
}

/* line 23, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.TdecorN, a.TdecorN:hover {
  text-decoration: none;
}

/* line 26, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.m0 {
  margin: 0;
}

/* line 27, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.m10 {
  margin: 0.71429rem;
}

/* line 28, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mTB5 {
  margin: 5px 0;
}

/* line 29, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT8 {
  margin-top: 8px;
}

/* line 30, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mTB10 {
  margin: 0.625rem 0;
}

/* line 31, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT5 {
  margin-top: 0.3125rem;
}

/* line 32, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT10 {
  margin-top: 0.625rem;
}

/* line 33, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT20 {
  margin-top: 1.25rem;
}

/* line 34, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB15 {
  margin-bottom: 1.07143rem;
}

/* line 35, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.m0A {
  margin: 0 auto;
}

/* line 36, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.ml10 {
  margin-left: 0.71429rem;
}

/* line 37, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mr10 {
  margin-right: 0.625rem;
}

/* line 38, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mr5 {
  margin-right: 5px;
}

/* line 39, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.ml5 {
  margin-left: 5px;
}

/* line 42, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB5 {
  margin-bottom: 0.3125rem;
}

/* line 43, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT50 {
  margin-top: 54px;
}

/* line 44, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mTB0 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 45, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mLR10 {
  margin: 0 0.625rem;
}

/* line 46, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mLR20 {
  margin: 0 20px 0 20px;
}

/* line 48, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB20 {
  margin-bottom: 1.25rem;
}

/* line 49, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB10 {
  margin-bottom: 0.625rem;
}

/* line 52, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.p0, .accordion .accordion_content, .styled-checkbox + label {
  padding: 0;
}

/* line 53, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB10 {
  padding: 0.625rem 0;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB15 {
  padding: 15px 0;
}

/* line 55, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB20 {
  padding: 20px 0;
}

/* line 56, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB4 {
  padding: 4px 0;
}

/* line 57, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pB10 {
  padding-bottom: 0.625rem;
}

/* line 58, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd10, .bank_option span > label {
  padding: 0.625rem;
}

/* line 59, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd5, .debit_option input.cvv_input {
  padding: 0.3125rem;
}

/* line 60, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd15 {
  padding: 1.07143rem;
}

/* line 61, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pT10 {
  padding-top: 0.625rem;
}

/* line 62, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdl10 {
  padding-left: 0.625rem;
}

/* line 63, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdr10 {
  padding-right: 0.625rem !important;
}

/* line 64, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdlr10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

/* line 65, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd18 {
  padding: 1.125rem;
}

/* line 66, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB30 {
  padding: 30px 0;
}

/* line 67, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pT30 {
  padding-top: 30px;
}

/* line 68, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB50 {
  padding: 30px 0 40px;
}

/* line 69, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdlr15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 72, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.op5 {
  opacity: 0.5;
}

/* line 73, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.op6, input:focus ~ label.name, input.filled-valid ~ label.name {
  opacity: 0.6;
}

/* line 74, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.op0 {
  opacity: 0;
}

/* line 76, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z9 {
  z-index: 9;
}

/* line 77, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z99 {
  z-index: 99;
}

/* line 78, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z999 {
  z-index: 999;
}

/* line 79, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z10000 {
  z-index: 10000;
}

/* line 81, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.V_t {
  vertical-align: top;
}

/* line 82, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.V_m, .styled-checkbox + label:before, .net_icon, .debit_icon, .wallet_icon, .upi_icon, .debit_option input.cvv_input {
  vertical-align: middle;
}

/* line 83, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.V_b {
  vertical-align: bottom;
}

/* line 92, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

/* line 93, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr4, .debit_option input.cvv_input, .select, select, .card_detail input.detail_input, .bdr_btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* line 94, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 5, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
body {
  margin: 0;
}

/* line 27, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* line 41, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
figcaption,
figure,
main {
  display: block;
}

/* line 64, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 73, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 84, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 97, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 107, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* line 117, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 127, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/* line 136, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/* line 146, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 157, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 165, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 174, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
small {
  font-size: 80%;
}

/* line 183, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 191, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 195, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 206, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
audio,
video {
  display: inline-block;
}

/* line 215, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 224, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
img {
  border-style: none;
}

/* line 232, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 244, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* line 260, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
input {
  overflow: visible;
}

/* line 270, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 281, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 292, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 304, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 315, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 328, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* line 342, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
progress {
  display: inline-block;
  vertical-align: baseline;
}

/* line 351, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 360, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 370, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 380, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 389, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 399, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* line 412, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
details,
menu {
  display: block;
}

/* line 421, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
summary {
  display: list-item;
}

/* line 432, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
canvas {
  display: inline-block;
}

/* line 440, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
template {
  display: none;
}

/* line 451, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[hidden] {
  display: none;
}

/* Float */
/* line 3, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.f-N {
  float: none;
}

/* line 4, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.f-L {
  float: left;
}

/* line 5, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.f-R {
  float: right;
}

/* Positon */
/* line 9, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-S {
  position: static;
}

/* line 10, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-R, .Vert_tabs section label.tab_btn, .accordion label, .accordion .accordion_content, .styled-checkbox + label, .custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label, .select {
  position: relative;
}

/* line 11, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-F {
  position: fixed;
}

/* line 12, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-A, .Vert_tabs input[name="sections"], .Vert_tabs section article:after, .accordion label:after, ._line:before,
._line:after, .styled-checkbox, .styled-checkbox:checked + label:after, .custom input[type="radio"]:checked,
.custom input[type="radio"]:not(:checked), .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before, .custom input[type="radio"]:checked + label:after,
.custom input[type="radio"]:not(:checked) + label:after {
  position: absolute;
}

/* line 13, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-I {
  position: inherit;
}

/* align set*/
/* line 17, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oT, .Vert_tabs section article, .Vert_tabs section article:after, .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  top: 0;
}

/* line 18, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oR, .select::after {
  right: 0;
}

/* line 19, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oL, .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  left: 0;
}

/* line 20, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oB, .Vert_tabs section article:after, ._line:before,
._line:after {
  bottom: 0;
}

/* text orientations */
/* line 24, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._L, .txt_pos {
  text-align: left;
}

/* line 25, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._R {
  text-align: right;
}

/* line 26, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._C, .accordion label:after {
  text-align: center;
}

/* line 27, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._J {
  text-align: justify;
}

/* line 28, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.V_t {
  vertical-align: top;
}

/* line 29, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.V_m, .styled-checkbox + label:before, .net_icon, .debit_icon, .wallet_icon, .upi_icon, .debit_option input.cvv_input {
  vertical-align: middle;
}

/* Displays */
/* line 33, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dB, .Vert_tabs, .Vert_tabs section, .Vert_tabs section label.tab_btn, .Vert_tabs section article:after, .Vert_tabs input[name="sections"]:checked ~ article, .accordion label {
  display: block;
}

/* line 34, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dIB, .spinner > div, .styled-checkbox + label:before, .custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label, .net_icon, .debit_icon, .wallet_icon, .upi_icon, .bank_option span > label {
  display: inline-block;
}

/* line 35, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dI {
  display: inline;
}

/* line 36, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dF, .product_img, .order_ul li, .select, .modal_page {
  display: flex;
}

/* line 37, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dFB {
  display: flex-box;
}

/* line 38, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dtable {
  display: table;
}

/* line 39, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dtcell {
  display: table-cell;
  vertical-align: middle;
}

/* line 8, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
body {
  color: #808080;
  background-color: #fff;
}

/* line 9, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.bg-f, .spinner > div, .styled-checkbox + label:before, .styled-checkbox:checked + label:after, .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before, .bank_option span > label, .debit_option input.cvv_input, select, .card_detail input.detail_input, .bdr_btn {
  background-color: #fff;
}

/* line 11, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.clr-f, .Vert_tabs input[name="sections"]:checked + label {
  color: #fff;
}

/* line 12, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.clr-skyblue {
  color: #2C3BD9;
}

/* line 13, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.clr-red {
  color: #d6140b;
}

/* #1 FONT */
/* line 10, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
:root {
  font-size: 16px;
}

@media only screen and (max-width: 33.75em) {
  /* line 10, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 60em) {
  /* line 10, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
  :root {
    font-size: 14px;
  }
}

/* line 20, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -Weight(fw) */
/* line 38, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-3 {
  font-weight: 300;
}

/* line 39, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-4 {
  font-weight: 400;
}

/* line 40, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-5, .form_group input.custom_input::placeholder, .form_group input.custom_input::-ms-input-placeholder {
  font-weight: 500;
}

/* line 41, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-6, .debit_option input.cvv_input, select, .card_detail input.detail_input, .card_detail input.detail_input::placeholder, .form_select label.name {
  font-weight: 600;
}

/* line 42, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-7 {
  font-weight: 700;
}

/* line 43, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-8 {
  font-weight: 800;
}

/* -Size(fs) */
/* line 47, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-8 {
  font-size: 0.5rem;
}

/* line 48, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-10 {
  font-size: 0.625rem;
}

/* line 49, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-11 {
  font-size: 0.6875rem;
}

/* line 50, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-12, select {
  font-size: 0.75rem;
}

/* line 51, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-13 {
  font-size: 0.8125rem;
}

/* line 52, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-14, .debit_option input.cvv_input, .card_detail input.detail_input, .card_detail input.detail_input::placeholder {
  font-size: 0.875rem;
}

/* line 53, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-16 {
  font-size: 1rem;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-18 {
  font-size: 1.125rem;
}

/* line 55, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-20 {
  font-size: 1.25rem;
}

/* line 56, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-22, .accordion label:after {
  font-size: 1.375rem;
}

/* line 57, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-24 {
  font-size: 1.5rem;
}

/* line 58, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-26 {
  font-size: 1.625rem;
}

/* line 59, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-32 {
  font-size: 2rem;
}

/* line 60, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-40 {
  font-size: 2.5rem;
}

/*===loader===*/
/* line 3, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.bdr_btn .spinner > div {
  background: #2C3BD9;
}

/* line 4, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner {
  width: 91px;
  height: 27px;
}

/* line 5, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner > div {
  height: 100%;
  width: 4px;
  margin-left: 2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

/* line 14, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 18, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 22, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 26, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*loader End*/
/*tabs start here*/
/* line 52, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs input[name="sections"] {
  left: -9999px;
  top: -9999px;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs section label.tab_btn {
  border-radius: 8px;
  border: 1px solid #E6EBEF;
  padding: 15px 20px;
  width: 234px;
  z-index: 100;
  margin-bottom: 20px;
}

/* line 60, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs section article {
  padding: 0 0 0 30px;
}

/* line 66, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs section article:after {
  content: "";
  left: -229px;
  width: 220px;
  z-index: 1;
}

@media (max-width: 533px) {
  /* line 82, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs {
    width: 100%;
  }
  /* line 86, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs section label {
    font-size: 1em;
    width: 160px;
  }
  /* line 91, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs section article {
    left: 200px;
    min-width: 270px;
  }
  /* line 96, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left: -199px;
    position: absolute;
    top: 0;
    width: 200px;
  }
}

@media (max-width: 768px) {
  /* line 112, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs {
    /* width: 96%; */
  }
}

/*tabs ENd here*/
/*Accordion start here*/
/* line 124, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion input[name='panel'] {
  display: none;
}

/* line 125, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion label {
  padding: 10px 0;
  border-bottom: 2px solid #f5a623;
  font-size: 15px;
  color: #052F5F;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

/* line 130, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion label:after {
  content: '+';
  line-height: 18px;
  right: 0;
  width: 1em;
  height: 1em;
  color: #052F5F;
  border-radius: 50%;
}

/* line 134, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion label:hover {
  color: #052F5F;
}

/* line 136, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion input:checked + label {
  color: #052F5F;
}

/* line 138, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion input:checked + label:after {
  content: '-';
  /* adjsut line-height to vertically center icon */
  line-height: .8em;
}

/* line 145, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion .accordion_content {
  overflow: hidden;
  height: 0px;
  color: #052F5F;
  transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

/* line 154, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
input[name='panel']:checked ~ .accordion_content.accordion_content {
  height: auto;
  padding: 10px;
}

/* Form start here */
/* line 4, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_box {
  padding: 0px 30px 30px;
}

/* line 5, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group {
  padding-top: 30px;
  margin-bottom: 24px;
}

/* line 6, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input {
  border: none;
  height: 25px;
  border-bottom: 1px solid rgba(5, 47, 95, 0.2);
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 6px;
  outline: none;
  color: #052F5F;
}

/* line 8, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input::placeholder {
  color: #5F7A99;
  opacity: 0.6;
  font-size: 16px;
}

/* line 12, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5F7A99;
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
}

/* line 18, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5F7A99;
  opacity: 0.6;
  font-size: 16px;
}

/* line 25, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
label.name {
  font-size: 14px;
  color: #052F5F;
  top: 0px;
  pointer-events: none;
  transition: 0.2s ease all;
  z-index: 3;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
/* line 37, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input:focus ~ label.name, input.filled-valid ~ label.name {
  top: 0px;
  font-size: 12px;
}

/* line 41, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.eror {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* line 42, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.error span.eror {
  display: block;
}

/* line 43, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.error label.name, .error span.eror {
  color: #D72716;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

/* line 49, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.error span:before, .error span:after {
  background: #D72716;
}

/* line 52, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.help_txt {
  bottom: 7px;
}

/* line 53, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.note_txt {
  margin-top: 1px;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.rupee-icon {
  background: url(../images/rupee-symbol.svg) no-repeat 0 0;
  width: 13px;
  height: 16px;
}

/* line 56, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input.with_symbols ~ span.symbols {
  visibility: hidden;
  opacity: 0;
}

/* line 57, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input.with_symbols:focus ~ span.symbols {
  visibility: visible;
  opacity: 1;
  bottom: 2px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 58, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input.with_symbols:focus {
  padding-left: 14px;
}

/* BOTTOM _lineS starts */
/* line 61, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
._line:before,
._line:after {
  content: '';
  height: 2px;
  width: 0;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* line 73, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
._line:before {
  left: 50%;
}

/* line 76, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
._line:after {
  right: 50%;
}

/* active state */
/* line 81, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input:focus ~ ._line:before,
input:focus ~ ._line:after, .error ._line:before, .error ._line:after {
  width: 50%;
}

/* Form End here */
@media only screen and (max-width: 640px) {
  /* line 88, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
  .pdlr15 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 4, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox {
  opacity: 0;
}

/* line 7, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox + label {
  cursor: pointer;
}

/* line 14, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  width: 17px;
  height: 17px;
  border: solid 1px #4D648D;
}

/* line 25, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:checked + label:before {
  background: #1996FF;
  border: solid 1px #1996FF;
}

/* line 30, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

/* line 36, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

/* line 42, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:checked + label:after {
  content: '';
  left: 4px;
  top: 9px;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

/* line 59, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:checked + label {
  font-weight: 600;
}

/* line 64, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked,
.custom input[type="radio"]:not(:checked) {
  left: -9999px;
}

/* line 69, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label {
  padding: 0 28px;
  cursor: pointer;
  line-height: 17px;
}

/* line 79, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #052F5F;
  border-radius: 100%;
}

/* line 88, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label:after,
.custom input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 9px;
  height: 9px;
  background: #052F5F;
  border: 1px solid #052F5F;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 101, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 106, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 14, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-darkblue, select, .card_detail input.detail_input {
  color: #052F5F;
}

/* line 15, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-p {
  color: #163D6A;
}

/* line 16, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-g, .debit_option input.cvv_input, .debit_option input.cvv_input::placeholder, .card_detail input.detail_input::placeholder {
  color: #69829F;
}

/* line 17, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.tab_btn {
  background-color: #fff;
}

/* line 18, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.btn {
  background-color: #2C3BD9;
}

/* line 20, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-grey {
  background-color: #f5f7f9;
}

/* line 21, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-darkgrey {
  background-color: #E6EBEF;
}

/* line 22, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-lightgrey {
  background-color: rgba(230, 235, 239, 0.4);
}

/* line 23, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-darkblue {
  background: #032143;
}

/* line 25, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.box_shdow {
  box-shadow: 0 2px 4px 0 rgba(109, 140, 169, 0.1), 0 8px 24px 0 rgba(49, 63, 75, 0.12);
}

/* line 26, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.box_shdow1 {
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* line 29, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.desktop .Vert_tabs input[name="sections"]:checked + label {
  background: linear-gradient(135deg, #9E65DA 0%, #EE609C 100%);
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* Victor */
/* line 46, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.white-bg {
  background: #ffffff;
}

/* line 47, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.base-color {
  color: #052F5F;
}

/* line 48, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.base-border {
  border-bottom: 1px solid rgba(218, 223, 228, 0.2);
}

/* line 49, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.paySprite {
  background-image: url("../images/payment_sprite.png");
}

/* line 50, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.anchor-color {
  color: #2C3BD9;
}

/* line 51, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.second_color {
  color: #69829F;
}

/* line 52, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.trd_color {
  color: #163D6A;
}

/* line 53, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.primaryBtn {
  background: #2C3BD9;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.titleBar {
  background: #EFF4FA;
}

/* line 55, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.lgtGrayBg {
  background-color: #E6EBEF;
}

/* line 56, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.secondBtn {
  background: #ffffff;
}

/* line 57, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.secondBdr {
  border: 1px solid #2C3BD9;
}

/* line 58, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.overlay {
  z-index: 98;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 59, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.overlayv2 {
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 60, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.loader_parent {
  z-index: 999;
  background: #ffffff;
  padding: 18px;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: flex;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
}

/* line 62, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 63, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.circle_v2 {
  padding: 10px 10px 5px;
  width: auto;
  height: fit-content;
  border-radius: 100%;
  top: 2px;
  position: relative;
  background: linear-gradient(135deg, #2258E0 0%, #35B3F5 100%);
  margin-right: 10px;
  float: left;
  text-align: center;
}

/* line 64, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.circle_v2 img {
  width: 24px;
  position: relative;
  border-style: none;
}

/* line 65, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.loading-text {
  margin: 0;
  font-size: .875rem;
  font-weight: 700;
}

/* Victor */
/* line 13, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.fullCon {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

/* line 18, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.btn {
  outline: none;
}

/* line 19, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.another_btn {
  border: 1px dashed #2C3BD9;
  color: #2C3BD9;
  line-height: 21px;
  width: 91%;
  display: inline-block;
}

/* line 21, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.another_btn .add {
  background-position: 0 -519px;
  width: 17px;
  height: 17px;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
}

/* line 23, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.d_sprite {
  background: url("../images/payment_sprite.png") no-repeat 0 0;
}

/* line 24, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.space_content, .order_ul li {
  justify-content: space-between;
}

/* line 25, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.align_C {
  align-items: center;
}

/* line 26, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.align_R {
  align-items: flex-end;
}

/* line 27, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.justify-center, .product_img {
  justify-content: center;
}

/* line 28, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid70 {
  width: 80%;
}

/* line 29, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid63 {
  width: 63%;
}

/* line 30, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid30 {
  width: 20%;
}

/* line 31, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid40 {
  width: 40%;
}

/* line 32, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid50 {
  width: 50%;
}

/* line 33, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid100 {
  width: 105px;
}

/* line 34, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wid100p {
  width: 100%;
}

/* line 35, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.line_h {
  line-height: 10px;
}

/* line 36, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.ovH {
  overflow: hidden;
}

/* line 37, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.error_bdr {
  border: solid 1px #fb887d;
}

/* line 38, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option input.cvv_input.error_bdr {
  border: solid 1px #fb887d;
}

/* line 39, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.f_normal {
  font-style: normal;
}

/* line 41, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.net_icon, .debit_icon, .wallet_icon, .upi_icon {
  width: 30px;
  height: 22px;
}

/* line 42, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.net_icon {
  background-position: -116px -70px;
  background-size: 746px;
}

/* line 43, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_icon {
  background-position: -126px 0px;
  background-size: 755px;
}

/* line 44, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.wallet_icon {
  background-position: -114px -26px;
  background-size: 703px;
}

/* line 45, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.upi_icon {
  background-position: -59px -75px;
  background-size: 755px;
}

/* line 47, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.Vert_tabs input[name="sections"]:checked + label .net_icon {
  background-position: -151px -70px;
}

/* line 48, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.Vert_tabs input[name="sections"]:checked + label .debit_icon {
  background-position: -163px 0px;
}

/* line 49, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.Vert_tabs input[name="sections"]:checked + label .wallet_icon {
  background-position: -147px -26px;
}

/* line 50, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.Vert_tabs input[name="sections"]:checked + label .upi_icon {
  background-position: -84px -75px;
}

/* line 52, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.visa, .american, .rupay {
  width: 57px;
  height: 19px;
}

/* line 53, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.master, .club, .maestro {
  width: 40px;
  height: 23px;
}

/* line 54, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.visa {
  background-position: 0 -75px;
  background-size: 746px;
}

/* line 55, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.american {
  background-position: 0 -100px;
  background-size: 746px;
}

/* line 56, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.master {
  background-position: 0 -128px;
  background-size: 746px;
}

/* line 57, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.club {
  background-position: 4px -162px;
  background-size: 746px;
}

/* line 58, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.rupay {
  background-position: 3px -190px;
  background-size: 746px;
}

/* line 59, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.maestro {
  background-position: 1px -219px;
  background-size: 746px;
}

/* line 60, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_logos {
  top: -39px;
}

/* line 62, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.rgt_arw {
  background-position: -1px -293px;
  width: 10px;
  height: 20px;
  background-size: 883px;
}

/* line 63, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.tick {
  background-position: -63px -109px;
  width: 18px;
  height: 17px;
  background-size: 725px;
}

/* line 64, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.product_img {
  width: 40px;
  height: 40px;
  box-shadow: 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* line 65, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.txt_pos {
  bottom: 10px;
  left: 7px;
}

/* line 66, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.pay {
  border: 1px solid #fff;
}

/* line 67, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.pay .tick {
  display: none;
}

/* line 68, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.pay:hover {
  border: 1px solid #5AA804;
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* line 69, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.pay:hover .tick {
  background-position: -85px -109px;
  box-shadow: none;
  display: block;
}

/* line 74, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.logo {
  background-position: 0 0;
  background-size: 655%;
  width: 175px;
  height: 31px;
}

/* line 75, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.dss_logo {
  background-position: 0 -24px;
  background-size: 733%;
  width: 83px;
  height: 32px;
}

/* line 76, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.log_div {
  border: 1px solid #052F5F;
}

/* line 78, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 80, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.body_article {
  flex: 65%;
}

/* line 81, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.body_aside {
  flex: 30%;
  padding-left: 30px;
}

/* line 82, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.order_ul li {
  padding: 15px 0;
  border-bottom: dashed 1px #E8ECF0;
}

/* line 83, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.order_ul li:last-child {
  border-bottom: none;
}

/* line 85, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bg-grey input.coupon {
  border: dashed 1px #c5cfda;
  background: transparent;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

/* line 87, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.progress {
  border-top: solid 4px #D4D4D4;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 89, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.progress span {
  display: flex;
  flex: 1 1 auto;
}

/* line 90, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.progress span.selected {
  background: #fbab7e;
  height: 4px;
  margin-top: -4px;
}

/* line 91, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.progress span.selected:first-child {
  border-top-left-radius: 4px;
}

/* line 92, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.progress span.selected:last-child {
  border-top-right-radius: 4px;
}

/* line 95, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option {
  overflow: hidden;
}

/* line 97, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span {
  margin: .1875rem;
}

/* line 98, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span input[type=radio]:checked.bank_select + label {
  border: 1px solid #5AA804;
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* line 101, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span input[type=radio]:checked.bank_select + label .tick {
  background-position: -85px -109px;
  width: 18px;
  height: 17px;
  background-size: 725px;
  right: 4px;
  top: 6px;
}

/* line 103, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span > label {
  width: 5.8rem;
  height: 106px;
  border: 1px solid #E6EBEF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
}

/* line 105, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span > label img {
  float: left;
}

/* line 107, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span > label > i {
  height: 40px;
  margin: .3125rem auto;
}

/* line 110, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option .tick {
  right: 6px;
  top: 7px;
}

/* line 112, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bank_option span > label {
  text-align: left;
}

/* line 114, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option span > label {
  height: 35px;
  width: 29.9rem;
}

/* line 115, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option span.bank_logo_bank {
  margin-bottom: 12px;
}

/* line 116, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option span.bank_logo_bank .img_box {
  width: 80px;
}

/* line 117, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option span.bank_logo_bank .img_box img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 120, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option .tick, .debit_option span input[type=radio]:checked.bank_select + label .tick {
  right: 10px;
  top: 18px;
}

/* line 121, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.debit_option input.cvv_input {
  height: 34px;
  width: 61px;
  box-sizing: border-box;
  border: 1px solid #E6EBEF;
  outline: none;
}

/* line 124, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
span .bank_card {
  width: 60px;
  margin-bottom: 0;
}

/*Select CSS start here */
/* Reset Select */
/* line 127, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
}

/* Remove IE arrow */
/* line 134, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
select::-ms-expand {
  display: none;
}

/* Custom Select */
/* line 138, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.select {
  height: 3em;
  line-height: 3;
  overflow: hidden;
}

/* line 141, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
select {
  flex: 1;
  padding: 0 .9em;
  border: 1px solid #E6EBEF;
  font-family: 'Open Sans', sans-serif;
}

/* Arrow */
/* line 146, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.select::after {
  content: ' ';
  background: url("../images/payment_sprite.png") no-repeat 0 -282px;
  position: absolute;
  background-size: 780px;
  width: 0px;
  height: 11px;
  top: 19px;
  padding: 0 1em;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */
/* line 155, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.select:hover::after {
  color: #f39c12;
}

/*Select CSS End here */
/* line 158, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.card_detail {
  border: 1px solid #E6EBEF;
}

/* line 159, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.card_detail .inner {
  padding: 20px 57px;
}

/* line 160, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.card_detail input.detail_input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #E6EBEF;
  padding: 10px 15px;
}

/* line 168, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.UPI_pad {
  padding: 0px 50px;
}

/* line 169, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.UPI_pad span > label {
  width: 24rem;
}

/* line 170, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.UPI_pad .bank_logo_bank {
  margin-left: 0;
  margin-right: 0;
}

/* line 172, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.cvv_div {
  right: 40px;
  top: 11px;
}

/* line 173, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.other_pad {
  padding: 0px 50px;
}

/* line 175, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.input_logo {
  right: 13px;
  top: 30px;
}

/* line 176, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.form_group span, .form_group ._line {
  margin: 0;
}

/* line 178, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.form_select .select {
  height: 1.6em;
}

/* line 179, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.form_select select {
  border: none;
  border-bottom: 1px solid rgba(5, 47, 95, 0.2);
  border-radius: 0;
  padding: 0;
  width: 11em;
}

/* line 180, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.form_select .select::after {
  top: 8px;
  right: -10px;
}

/* line 184, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.hide-m, .hide {
  display: none;
}

/* line 185, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.upi_con {
  width: 510px;
  height: 200px;
  justify-content: center;
  align-items: center;
}

/* Modal CSS start here */
/* line 188, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.full_overlay {
  opacity: 0.85;
}

/* line 189, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.modal_page {
  width: 31%;
  height: 100vh;
  padding: 0 40px;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* line 193, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.bdr_btn {
  border: 1px solid #2C3BD9;
  color: #2C3BD9;
}

/* Modal CSS End here */
/* line 195, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
.back_arw {
  background: url("../images/back_arrow.svg") no-repeat;
  width: 20px;
  height: 15px;
  vertical-align: middle;
}

/* line 197, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
footer a {
  color: #1996FF;
}

/* line 198, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
footer a img {
  width: 74px;
}

@media only screen and (min-width: 1439px) and (max-width: 1440px) {
  /* line 203, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .select {
    width: 90%;
    display: inline-flex;
  }
  /* line 204, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .another_btn {
    width: 83%;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1280px) {
  /* line 208, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .bank_option.net span > label {
    width: 5.1rem;
  }
  /* line 209, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .another_btn {
    width: 91%;
  }
}

@media only screen and (max-width: 1024px) {
  /* line 213, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .modal_page {
    width: 50%;
  }
  /* line 214, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .container {
    width: 95%;
  }
  /* line 215, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .body_article {
    flex: 77%;
  }
  /* line 216, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .debit_option span > label {
    width: 21.5rem;
  }
  /* line 217, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .another_btn {
    width: 87%;
  }
}

@media only screen and (max-width: 768px) {
  /* line 221, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .Vert_tabs section label.tab_btn {
    width: 165px;
  }
  /* line 222, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .debit_option span > label {
    width: 16.5rem;
  }
  /* line 223, D:/2016/2019/paisabazaarpaymentgatewayhtml/sass/desktop.scss */
  .another_btn {
    width: 80%;
  }
}

/*# sourceMappingURL=../css/desktop.map */