/*utility*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
/* line 6, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.row, .fullCon, .clear {
  box-sizing: border-box;
}

/* line 8, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.uCase {
  text-transform: uppercase;
}

/* line 9, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.camCase {
  text-transform: capitalize;
}

/* line 10, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.lCase {
  text-transform: lowercase;
}

/* line 11, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.hand, .Vert_tabs section label.tab_btn, .accordion label {
  cursor: pointer;
}

/* line 13, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr_top {
  border-top: solid 1px #E6EBEF;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.outline {
  outline: 1px solid #ddd;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr0, .form_group input.custom_input {
  border: 0;
}

/* line 16, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr_b {
  border-bottom: solid 1px #E6EBEF;
}

/* line 17, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr_line {
  border-top: solid 1px #e4eaf0;
  clear: both;
}

/* line 19, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
input, textarea, button, select, a, label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 22, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.list_n {
  list-style: none;
}

/* line 23, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.TdecorN, a.TdecorN:hover {
  text-decoration: none;
}

/* line 26, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.m0 {
  margin: 0;
}

/* line 27, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.m10 {
  margin: 0.71429rem;
}

/* line 28, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mTB5 {
  margin: 5px 0;
}

/* line 29, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT8 {
  margin-top: 8px;
}

/* line 30, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mTB10 {
  margin: 0.625rem 0;
}

/* line 31, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT5 {
  margin-top: 0.3125rem;
}

/* line 32, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT10 {
  margin-top: 0.625rem;
}

/* line 33, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT20 {
  margin-top: 1.25rem;
}

/* line 34, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB15 {
  margin-bottom: 1.07143rem;
}

/* line 35, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.m0A {
  margin: 0 auto;
}

/* line 36, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.ml10 {
  margin-left: 0.71429rem;
}

/* line 37, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mr10 {
  margin-right: 0.625rem;
}

/* line 38, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mr5 {
  margin-right: 5px;
}

/* line 39, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.ml5 {
  margin-left: 5px;
}

/* line 42, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB5 {
  margin-bottom: 0.3125rem;
}

/* line 43, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mT50 {
  margin-top: 54px;
}

/* line 44, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mTB0 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 45, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mLR10 {
  margin: 0 0.625rem;
}

/* line 46, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mLR20 {
  margin: 0 20px 0 20px;
}

/* line 48, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB20 {
  margin-bottom: 1.25rem;
}

/* line 49, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.mB10 {
  margin-bottom: 0.625rem;
}

/* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.p0, .accordion .accordion_content, .styled-checkbox + label {
  padding: 0;
}

/* line 53, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB10 {
  padding: 0.625rem 0;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB20 {
  padding: 20px 0;
}

/* line 55, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB4 {
  padding: 4px 0;
}

/* line 56, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pB10 {
  padding-bottom: 0.625rem;
}

/* line 57, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd10 {
  padding: 0.625rem;
}

/* line 58, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd5 {
  padding: 0.3125rem;
}

/* line 59, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd15 {
  padding: 1.07143rem;
}

/* line 60, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pT10 {
  padding-top: 0.625rem;
}

/* line 61, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdl10 {
  padding-left: 0.625rem;
}

/* line 62, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdr10 {
  padding-right: 0.625rem !important;
}

/* line 63, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdlr10 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

/* line 64, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pd18 {
  padding: 1.125rem;
}

/* line 65, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB30 {
  padding: 30px 0;
}

/* line 66, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pT30 {
  padding-top: 30px;
}

/* line 67, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pTB50 {
  padding: 50px 0 90px;
}

/* line 68, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.pdlr15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 71, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.op5 {
  opacity: 0.5;
}

/* line 72, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.op6, input:focus ~ label.name, input.filled-valid ~ label.name {
  opacity: 0.6;
}

/* line 73, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.op0 {
  opacity: 0;
}

/* line 75, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z9 {
  z-index: 9;
}

/* line 76, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z99 {
  z-index: 99;
}

/* line 77, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z999 {
  z-index: 999;
}

/* line 78, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
._z10000 {
  z-index: 10000;
}

/* line 80, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.V_t {
  vertical-align: top;
}

/* line 81, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.V_m, .styled-checkbox + label:before {
  vertical-align: middle;
}

/* line 82, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.V_b {
  vertical-align: bottom;
}

/* line 91, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr2 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

/* line 92, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr4 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* line 93, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_utility.scss */
.bdr8 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* line 5, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
body {
  margin: 0;
}

/* line 27, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/* line 41, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
figcaption,
figure,
main {
  display: block;
}

/* line 64, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 73, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* line 84, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 97, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

/* line 107, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* line 117, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 127, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/* line 136, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/* line 146, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 157, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 165, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/* line 174, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
small {
  font-size: 80%;
}

/* line 183, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 191, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 195, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 206, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
audio,
video {
  display: inline-block;
}

/* line 215, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 224, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
img {
  border-style: none;
}

/* line 232, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 244, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* line 260, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
input {
  overflow: visible;
}

/* line 270, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 281, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* line 292, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* line 304, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 315, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 328, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* line 342, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
progress {
  display: inline-block;
  vertical-align: baseline;
}

/* line 351, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 360, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 370, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 380, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 389, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 399, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* line 412, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
details,
menu {
  display: block;
}

/* line 421, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
summary {
  display: list-item;
}

/* line 432, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
canvas {
  display: inline-block;
}

/* line 440, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
template {
  display: none;
}

/* line 451, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_normalize.scss */
[hidden] {
  display: none;
}

/* Float */
/* line 3, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.f-N {
  float: none;
}

/* line 4, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.f-L {
  float: left;
}

/* line 5, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.f-R {
  float: right;
}

/* Positon */
/* line 9, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-S {
  position: static;
}

/* line 10, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-R, .Vert_tabs section label.tab_btn, .accordion label, .accordion .accordion_content, .styled-checkbox + label, .custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label {
  position: relative;
}

/* line 11, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-F {
  position: fixed;
}

/* line 12, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-A, .Vert_tabs input[name="sections"], .Vert_tabs section article, .Vert_tabs section article:after, .accordion label:after, ._line:before,
._line:after, .styled-checkbox, .styled-checkbox:checked + label:after, .custom input[type="radio"]:checked,
.custom input[type="radio"]:not(:checked), .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before, .custom input[type="radio"]:checked + label:after,
.custom input[type="radio"]:not(:checked) + label:after {
  position: absolute;
}

/* line 13, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.p-I {
  position: inherit;
}

/* align set*/
/* line 17, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oT, .Vert_tabs section article, .Vert_tabs section article:after, .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  top: 0;
}

/* line 18, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oR {
  right: 0;
}

/* line 19, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oL, .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  left: 0;
}

/* line 20, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._oB, .Vert_tabs section article:after, ._line:before,
._line:after {
  bottom: 0;
}

/* text orientations */
/* line 24, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._L {
  text-align: left;
}

/* line 25, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._R {
  text-align: right;
}

/* line 26, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._C, .accordion label:after {
  text-align: center;
}

/* line 27, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
._J {
  text-align: justify;
}

/* line 28, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.V_t {
  vertical-align: top;
}

/* line 29, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.V_m, .styled-checkbox + label:before {
  vertical-align: middle;
}

/* Displays */
/* line 33, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dB, .Vert_tabs, .Vert_tabs section, .Vert_tabs section label.tab_btn, .Vert_tabs section article:after, .Vert_tabs input[name="sections"]:checked ~ article, .accordion label, .form_group input.custom_input {
  display: block;
}

/* line 34, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dIB, .spinner > div, .styled-checkbox + label:before, .custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label {
  display: inline-block;
}

/* line 35, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dI {
  display: inline;
}

/* line 36, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dF {
  display: flex;
}

/* line 37, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dFB {
  display: flex-box;
}

/* line 38, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dtable {
  display: table;
}

/* line 39, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_alignment.scss */
.dtcell {
  display: table-cell;
  vertical-align: middle;
}

/* line 8, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
body {
  color: #808080;
  background-color: #fff;
}

/* line 9, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.bg-f, .spinner > div, .styled-checkbox + label:before, .styled-checkbox:checked + label:after, .custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  background-color: #fff;
}

/* line 11, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.clr-f, .Vert_tabs input[name="sections"]:checked + label {
  color: #fff;
}

/* line 12, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.clr-skyblue {
  color: #2C3BD9;
}

/* line 13, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_colors.scss */
.clr-red {
  color: #d6140b;
}

/* #1 FONT */
/* line 10, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
:root {
  font-size: 16px;
}

@media only screen and (max-width: 33.75em) {
  /* line 10, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
  :root {
    font-size: 12px;
  }
}

@media only screen and (max-width: 60em) {
  /* line 10, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
  :root {
    font-size: 14px;
  }
}

/* line 20, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* -Weight(fw) */
/* line 38, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-3 {
  font-weight: 300;
}

/* line 39, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-4 {
  font-weight: 400;
}

/* line 40, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-5, .form_group input.custom_input::placeholder, .form_group input.custom_input::-ms-input-placeholder {
  font-weight: 500;
}

/* line 41, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-6, .form_group input.custom_input {
  font-weight: 600;
}

/* line 42, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-7 {
  font-weight: 700;
}

/* line 43, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fw-8 {
  font-weight: 800;
}

/* -Size(fs) */
/* line 47, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-8 {
  font-size: 0.5rem;
}

/* line 48, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-10 {
  font-size: 0.625rem;
}

/* line 49, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-11 {
  font-size: 0.6875rem;
}

/* line 50, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-12 {
  font-size: 0.75rem;
}

/* line 51, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-13 {
  font-size: 0.8125rem;
}

/* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-14, label.name {
  font-size: 0.875rem;
}

/* line 53, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-16, .form_group input.custom_input {
  font-size: 1rem;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-18 {
  font-size: 1.125rem;
}

/* line 55, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-20 {
  font-size: 1.25rem;
}

/* line 56, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-22, .accordion label:after {
  font-size: 1.375rem;
}

/* line 57, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-24 {
  font-size: 1.5rem;
}

/* line 58, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-26 {
  font-size: 1.625rem;
}

/* line 59, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-32 {
  font-size: 2rem;
}

/* line 60, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_font.scss */
.fs-40 {
  font-size: 2.5rem;
}

/*===loader===*/
/* line 3, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.bdr_btn .spinner > div {
  background: #2C3BD9;
}

/* line 4, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner {
  width: 91px;
  height: 27px;
}

/* line 5, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner > div {
  height: 100%;
  width: 4px;
  margin-left: 2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 18, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 22, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 26, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*loader End*/
/*tabs start here*/
/* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs input[name="sections"] {
  left: -9999px;
  top: -9999px;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs section label.tab_btn {
  border-radius: 8px;
  border: 1px solid #E6EBEF;
  padding: 20px;
  width: 240px;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
  margin-bottom: 20px;
}

/* line 60, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs section article {
  display: none;
  left: 281px;
  padding: 0 0 0 15px;
}

/* line 67, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.Vert_tabs section article:after {
  content: "";
  left: -229px;
  width: 220px;
  z-index: 1;
}

@media (max-width: 533px) {
  /* line 83, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs {
    width: 100%;
  }
  /* line 87, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs section label {
    font-size: 1em;
    width: 160px;
  }
  /* line 92, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs section article {
    left: 200px;
    min-width: 270px;
  }
  /* line 97, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left: -199px;
    position: absolute;
    top: 0;
    width: 200px;
  }
}

@media (max-width: 768px) {
  /* line 113, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
  .Vert_tabs {
    width: 96%;
  }
}

/*tabs ENd here*/
/*Accordion start here*/
/* line 125, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion input[name='panel'] {
  display: none;
}

/* line 126, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion label {
  padding: 10px 0;
  border-bottom: 2px solid #f5a623;
  font-size: 15px;
  color: #052F5F;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

/* line 131, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion label:after {
  content: '+';
  line-height: 18px;
  right: 0;
  width: 1em;
  height: 1em;
  color: #052F5F;
  border-radius: 50%;
}

/* line 135, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion label:hover {
  color: #052F5F;
}

/* line 137, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion input:checked + label {
  color: #052F5F;
}

/* line 139, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion input:checked + label:after {
  content: '-';
  /* adjsut line-height to vertically center icon */
  line-height: .8em;
}

/* line 146, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
.accordion .accordion_content {
  overflow: hidden;
  height: 0px;
  color: #052F5F;
  transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

/* line 155, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_loader.scss */
input[name='panel']:checked ~ .accordion_content.accordion_content {
  height: auto;
  padding: 10px;
}

/* Form start here */
/* line 4, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_box {
  padding: 0px 30px 30px;
}

/* line 5, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group {
  padding-top: 30px;
  margin-bottom: 24px;
}

/* line 6, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input {
  border: none;
  height: 25px;
  border-bottom: 1px solid rgba(5, 47, 95, 0.2);
  padding-bottom: 6px;
  outline: none;
}

/* line 8, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input::placeholder {
  color: #5F7A99;
  opacity: 0.6;
  font-size: 16px;
}

/* line 12, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5F7A99;
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
}

/* line 18, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.form_group input.custom_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5F7A99;
  opacity: 0.6;
  font-size: 16px;
}

/* line 25, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
label.name {
  top: 0px;
  pointer-events: none;
  transition: 0.2s ease all;
  z-index: 3;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
/* line 37, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input:focus ~ label.name, input.filled-valid ~ label.name {
  top: 0px;
  font-size: 12px;
}

/* line 41, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.eror {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* line 42, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.error span.eror {
  display: block;
}

/* line 43, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.error label.name, .error span.eror {
  color: #D72716;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

/* line 49, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.error span:before, .error span:after {
  background: #D72716;
}

/* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.help_txt {
  bottom: 7px;
}

/* line 53, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.note_txt {
  margin-top: 1px;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
.rupee-icon {
  background: url(../images/rupee-symbol.svg) no-repeat 0 0;
  width: 13px;
  height: 16px;
}

/* line 56, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input.with_symbols ~ span.symbols {
  visibility: hidden;
  opacity: 0;
}

/* line 57, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input.with_symbols:focus ~ span.symbols {
  visibility: visible;
  opacity: 1;
  bottom: 2px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

/* line 58, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input.with_symbols:focus {
  padding-left: 14px;
}

/* BOTTOM _lineS starts */
/* line 61, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
._line:before,
._line:after {
  content: '';
  height: 2px;
  width: 0;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* line 73, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
._line:before {
  left: 50%;
}

/* line 76, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
._line:after {
  right: 50%;
}

/* active state */
/* line 81, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
input:focus ~ ._line:before,
input:focus ~ ._line:after, .error ._line:before, .error ._line:after {
  width: 50%;
}

/* Form End here */
@media only screen and (max-width: 640px) {
  /* line 88, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_form.scss */
  .pdlr15 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 4, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox {
  opacity: 0;
}

/* line 7, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox + label {
  cursor: pointer;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  width: 17px;
  height: 17px;
  border: solid 1px #4D648D;
}

/* line 25, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:checked + label:before {
  background: #1996FF;
  border: solid 1px #1996FF;
}

/* line 30, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

/* line 36, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

/* line 42, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:checked + label:after {
  content: '';
  left: 4px;
  top: 9px;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

/* line 59, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.styled-checkbox:checked + label {
  font-weight: 600;
}

/* line 64, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked,
.custom input[type="radio"]:not(:checked) {
  left: -9999px;
}

/* line 69, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label,
.custom input[type="radio"]:not(:checked) + label {
  padding: 0 28px;
  cursor: pointer;
  line-height: 17px;
}

/* line 79, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label:before,
.custom input[type="radio"]:not(:checked) + label:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid #052F5F;
  border-radius: 100%;
}

/* line 88, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label:after,
.custom input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 9px;
  height: 9px;
  background: #052F5F;
  border: 1px solid #052F5F;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 101, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* line 106, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/helpers/_checkbox.scss */
.custom input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-darkblue, .form_group input.custom_input, label.name {
  color: #052F5F;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-p {
  color: #163D6A;
}

/* line 16, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-g {
  color: #69829F;
}

/* line 17, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.tab_btn {
  background-color: #fff;
}

/* line 18, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.btn {
  background-color: #2C3BD9;
}

/* line 20, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-grey {
  background-color: #f5f7f9;
}

/* line 21, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-darkgrey {
  background-color: #E6EBEF;
}

/* line 22, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-lightgrey {
  background-color: rgba(230, 235, 239, 0.4);
}

/* line 23, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-darkblue {
  background: #032143;
}

/* line 25, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.box_shdow {
  box-shadow: 0 2px 4px 0 rgba(109, 140, 169, 0.1), 0 8px 24px 0 rgba(49, 63, 75, 0.12);
}

/* line 26, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.box_shdow1 {
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* line 29, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.desktop .Vert_tabs input[name="sections"]:checked + label {
  background: linear-gradient(135deg, #9E65DA 0%, #EE609C 100%);
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* Victor */
/* line 46, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.white-bg {
  background: #ffffff;
}

/* line 47, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.base-color {
  color: #052F5F;
}

/* line 48, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.base-border {
  border-bottom: 1px solid rgba(218, 223, 228, 0.2);
}

/* line 49, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.paySprite {
  background-image: url("../images/payment_sprite.png");
}

/* line 50, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.anchor-color {
  color: #2C3BD9;
}

/* line 51, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.second_color {
  color: #69829F;
}

/* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.trd_color {
  color: #163D6A;
}

/* line 53, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.primaryBtn {
  background: #2C3BD9;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.titleBar {
  background: #EFF4FA;
}

/* line 55, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.lgtGrayBg {
  background-color: #E6EBEF;
}

/* line 56, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.secondBtn {
  background: #ffffff;
}

/* line 57, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.secondBdr {
  border: 1px solid #2C3BD9;
}

/* line 58, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.overlay {
  z-index: 98;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 59, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.overlayv2 {
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 60, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.loader_parent {
  z-index: 1;
  background: #ffffff;
  padding: 18px;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: flex;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
}

/* line 62, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 63, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.circle_v2 {
  padding: 10px 10px 5px;
  width: auto;
  height: fit-content;
  border-radius: 100%;
  top: 2px;
  position: relative;
  background: linear-gradient(135deg, #2258E0 0%, #35B3F5 100%);
  margin-right: 10px;
  float: left;
  text-align: center;
}

/* line 64, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.circle_v2 img {
  width: 24px;
  position: relative;
  border-style: none;
}

/* line 65, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.loading-text {
  margin: 0;
  font-size: .875rem;
  font-weight: 700;
}

/* Victor */
/* Payment Gateway */
/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.bnone {
  border: none !important;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.w100 {
  width: 100% !important;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.w50 {
  width: 50%;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.pLR15 {
  padding: 0 15px;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.pTB15 {
  padding: 15px 0;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
section {
  position: relative;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.hide {
  display: none;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.show {
  display: block;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.f-R {
  float: right;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.pb30 {
  padding-bottom: 30px;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.vAtB {
  vertical-align: text-bottom;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.vAtT {
  vertical-align: text-top;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.tDn {
  text-decoration: none;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.pl40 {
  padding-left: 40px;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.bdr8 {
  border-radius: 8px;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.bdr6 {
  border-radius: 6px;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.bdr5 {
  border-radius: 5px;
}

/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.pR {
  position: relative;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.mR10 {
  margin-right: 10px;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.mR15 {
  margin-right: 15px;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.clear {
  clear: both;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.fs-30 {
  font-size: 30px;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.fwB {
  font-weight: bold;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.pb0 {
  padding-bottom: 0;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
a {
  text-decoration: none;
}

/* line 16, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
.mB30 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  /* line 18, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .backSection a.backArrow {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  /* line 19, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfContainer {
    background: -moz-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(100%, #E6EBEF));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%);
    /* ie10+ */
    background: linear-gradient(180deg, #ffffff 50%, #E6EBEF 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E6EBEF',GradientType=0 );
    /* ie6-9 */
  }
  /* line 26, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfBox {
    box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
    background: -moz-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9717), color-stop(100%, #FF3B79));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%);
    /* ie10+ */
    background: linear-gradient(1deg, #FF3B79 0%, #FF9717 100%);
    /* w3c */
    padding-left: 4px;
  }
  /* line 33, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfInnerBox {
    padding: 12px 10px 12px 15px;
    display: flex;
    display: -webkit-flex;
  }
  /* line 34, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfInnerBox div:nth-of-type(1) {
    -webkit-flex-grow: 1;
  }
  /* line 35, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfInnerBox div:nth-of-type(2) {
    -webkit-flex-grow: 3;
  }
  /* line 36, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfInnerBox div:nth-of-type(3) {
    -webkit-flex-grow: 1;
    align-self: flex-end;
    margin-bottom: 10px;
  }
  /* line 37, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mfDetails img {
    margin-left: 5px;
    vertical-align: middle;
  }
  /* line 38, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .commonBoxPad {
    padding: 30px 15px 0 15px;
  }
  /* line 39, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .commonTitle {
    margin-bottom: 15px;
  }
  /* line 40, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .commonTitle img {
    margin-left: 15px;
  }
  /* line 41, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addCommon {
    border: 1.5px dashed #828bef;
    border-radius: 4px;
    overflow: hidden;
  }
  /* line 42, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addCommon img {
    margin-right: 5px;
  }
  /* line 43, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addCommon a {
    display: block;
  }
  /* line 44, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 45, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank li {
    display: inline-block;
  }
  /* line 46, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank a {
    display: block;
    padding: 6px 12px 6px 0px;
    text-decoration: none;
  }
  /* line 47, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul {
    display: flex;
    display: -webkit-flex;
  }
  /* line 48, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul li:nth-of-type(1) {
    -webkit-flex-grow: 1;
  }
  /* line 49, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul li:nth-of-type(2) {
    -webkit-flex-grow: 1;
  }
  /* line 50, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul li:nth-of-type(3) {
    -webkit-flex-grow: 1;
  }
  /* line 51, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul li:nth-of-type(4) {
    -webkit-flex-grow: 1;
  }
  /* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul li:nth-of-type(5) {
    -webkit-flex-grow: 1;
  }
  /* line 53, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBank ul li a img {
    width: 40px;
    margin-bottom: 7px;
  }
  /* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addWallet {
    border: 1px solid #E6EBEF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 7px;
  }
  /* line 55, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  addWallet a {
    display: block;
  }
  /* line 56, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  footer span {
    width: 62px;
    height: 24px;
  }
  /* line 57, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 58, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  footer li {
    display: inline-block;
  }
  /* line 59, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  footer li:first-child {
    border-right: 1px solid #1996FF;
    margin-right: 10px;
  }
  /* line 60, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  footer a {
    display: block;
    padding: 0 12px 0 0;
    text-decoration: none;
    color: #1996FF;
  }
  /* line 61, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar, .addBankBarCvv {
    display: block;
    padding: 7px 15px;
    border: 1px solid #E6EBEF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 7px;
    float: left;
    width: -webkit-fill-available;
  }
  /* line 62, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar .providerIcon, .addBankBarCvv .providerIcon {
    width: 20%;
    float: left;
  }
  /* line 63, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar .cardDetails, .addBankBarCvv .cardDetails {
    width: 50%;
    float: left;
  }
  /* line 64, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar .cvvDiv, .addBankBarCvv .cvvDiv {
    width: 20%;
    float: left;
  }
  /* line 65, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar .checkTick, .addBankBarCvv .checkTick {
    width: 10%;
    float: right;
  }
  /* line 66, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar .providerIcon img {
    vertical-align: -webkit-baseline-middle;
    margin-top: 7px;
  }
  /* line 67, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addUpiBar {
    display: flex;
    display: -webkit-flex;
    padding: 7px 15px;
    border: 1px solid #E6EBEF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.07);
    margin-bottom: 7px;
  }
  /* line 68, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addUpiBar div:nth-of-type(1) {
    -webkit-flex-grow: 1;
  }
  /* line 69, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addUpiBar div:nth-of-type(2) {
    -webkit-flex-grow: 7;
  }
  /* line 70, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addUpiBar .providerIcon img {
    vertical-align: -webkit-baseline-middle;
    margin-top: 7px;
  }
  /* line 71, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBarCvv .providerIcon img {
    vertical-align: -webkit-baseline-middle;
    margin-top: 7px;
  }
  /* line 72, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBarCvv .cvvDiv input {
    width: 55px;
    vertical-align: -webkit-baseline-middle;
    margin-top: 6px;
    padding: 5px;
    border: 1px solid #E6EBEF;
    background-color: #FFFFFF;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  /* line 73, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  input[type=radio]:checked.bank_select + label.addBankBar, input[type=radio]:checked.bank_select + label.addBankBarCvv {
    border: 1px solid #5AA804;
    outline: none;
  }
  /* line 74, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  input[type=radio]:checked.bank_select + label.addBankBarCvv .checkTick, input[type=radio]:checked.bank_select + label.addBankBar .checkTick {
    background-image: url("../images/checkIconActive.svg");
  }
  /* line 75, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBarCvv:focus, .addBankBarCvv .cvvDiv input:focus, .addBankBarCvv:focus .checkTick {
    border: 1px solid #5AA804;
    outline: none;
  }
  /* line 76, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBarCvv .checkTick, .addBankBar .checkTick {
    background-image: url("../images/checkIcon.svg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 0 11px;
  }
  /* line 78, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .fixedBtn {
    position: fixed;
    width: -webkit-fill-available;
    bottom: 0;
    z-index: 1;
  }
  /* line 79, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .providersList ul {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 25px;
  }
  /* line 80, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .providersList ul li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  /* line 81, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .providersList ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 82, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .providersList li {
    display: inline-block;
  }
  /* line 83, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .card {
    background-image: url("../images/cardBg.svg");
    width: 260px;
    height: 155px;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: contain;
  }
  /* line 84, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .card .feilds input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
  }
  /* line 85, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .card .feilds input:focus {
    outline: none;
    border: none;
  }
  /* line 86, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual {
    display: flex;
    display: -webkit-flex;
  }
  /* line 87, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual div:nth-of-type(1) {
    -webkit-flex-grow: 1;
    flex-grow: 3;
  }
  /* line 88, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual div:nth-of-type(2) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  /* line 89, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual input {
    width: 84%;
    border: 1px solid #E6EBEF;
  }
  /* line 90, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual input::placeholder {
    opacity: 0.6;
  }
  /* line 91, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual button.next {
    width: -webkit-fill-available;
    background-color: #2C3BD9;
    border: 1px solid #2C3BD9;
    padding: 15px 20px;
  }
  /* line 92, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  /* line 92, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  /* line 93, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #d4d1d1;
    margin-top: -1px;
  }
  /* line 94, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox:hover + label:before {
    background: #dad9d9;
  }
  /* line 95, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox:checked + label:before {
    background: #2C3BD9;
  }
  /* line 96, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox:disabled + label {
    color: #2C3BD9;
    cursor: auto;
  }
  /* line 97, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #dad9d9;
  }
  /* line 98, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .styled-checkbox:checked + label:after {
    content: '';
    background: #2C3BD9;
    position: absolute;
    left: 3px;
    top: 7px;
    background: white;
    width: 2px;
    height: 2px;
    font-weight: 700;
  }
  /* line 99, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .enterManual input.password {
    width: 84%;
    border: 1px solid #E6EBEF;
  }
  /* line 100, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .bankBar {
    display: block;
    border-bottom: 1px solid #E6EBEF;
    background-color: #FFFFFF;
    width: -webkit-fill-available;
    overflow: hidden;
  }
  /* line 101, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .bankBar .providerIcon img {
    width: 20px;
    margin-right: 15px;
  }
  /* line 102, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .notAva {
    padding: 6px 10px;
    border-radius: 15px;
  }
  /* line 103, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .totalInvestment {
    display: flex;
    display: -webkit-flex;
    border-bottom: 1px dashed #E8ECF0;
  }
  /* line 104, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .totalInvestment div:nth-of-type(1) {
    -webkit-flex-grow: 6;
    flex-grow: 6;
  }
  /* line 105, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .totalInvestment div:nth-of-type(2) {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  /* line 106, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .dashedInput {
    border: 2px dashed #E8ECF0;
    width: -webkit-fill-available;
  }
  /* line 107, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .dashedInput::placeholder {
    opacity: .6;
  }
  /* line 108, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  *:focus {
    outline: none;
  }
  /* line 109, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .ovarLay {
    background-color: rgba(5, 47, 95, 0.8);
    width: 100%;
    height: 100%;
    opacity: .9;
    position: fixed;
    top: 0;
    z-index: 0;
  }
  /* line 110, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payPopup {
    bottom: 0;
    z-index: 1;
    border-radius: 24px 24px 0 0;
  }
  /* line 111, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payPopup .popupTitle {
    background: #E6EBEF;
    padding: 8px 0 12px 0;
    border-radius: 24px 24px 0 0;
  }
  /* line 112, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payPopup .popupTitle span {
    height: 4px;
    width: 40px;
    opacity: 0.2;
    border-radius: 2px;
    background-color: #052F5F;
    margin: 0 auto 8px auto;
  }
  /* line 113, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payMode {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
  /* line 114, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payMode div {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    width: 33.3%;
  }
  /* line 115, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payMode div img {
    height: 31px;
  }
  /* line 116, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mT7 {
    margin-top: 7px;
  }
  /* line 117, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .Vwbm {
    vertical-align: -webkit-baseline-middle;
  }
  /* line 118, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .payMode .payInpBar {
    border: 1px solid #E6EBEF;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07);
  }
  /* line 119, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow {
    display: flex;
    display: -webkit-flex;
  }
  /* line 120, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow div:nth-of-type(1) {
    width: 50%;
  }
  /* line 121, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow div:nth-of-type(2) {
    width: 10%;
    border-bottom: 1px solid #ffffff;
  }
  /* line 122, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow div:nth-of-type(3) {
    width: 40%;
    overflow: hidden;
  }
  /* line 124, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow input {
    border: none;
    border-bottom: 1px solid #052F5F;
    padding: 5px 0;
    width: -webkit-fill-available;
  }
  /* line 125, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow input::placeholder {
    opacity: 0.6;
  }
  /* line 126, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .upiFeildRow input.atTheRate {
    padding: 0 0 0 4px;
    cursor: none;
  }
  /* line 127, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  select {
    border: none;
    margin: 4px 0 0 0;
    width: -webkit-fill-available;
    padding: 8px 0 5px 0;
    border-bottom: 1px solid #052F5F;
  }
  /* line 128, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .fs-29 {
    font-size: 29px;
  }
  /* line 129, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .vAU {
    vertical-align: unset;
  }
  /* line 130, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  input.radio:empty {
    margin-left: -999px;
    visibility: hidden;
  }
  /* line 131, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .d_sprite {
    background: url(../images/payment_sprite.png) no-repeat 0 0;
  }
  /* line 132, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .visa, .american, .rupay {
    background-position: 1px -219px;
    background-size: 746px;
  }
  /* line 133, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .visa, .american, .rupay {
    width: 54px;
    height: 23px;
  }
  /* line 134, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .maestro, .club, .master {
    width: 38px;
    height: 23px;
  }
  /* line 135, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .visa {
    background-position: 0px -55px;
    background-size: 605px;
  }
  /* line 136, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .american {
    background-position: 0 -100px;
    background-size: 746px;
  }
  /* line 137, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .master {
    background-position: 0 -128px;
    background-size: 746px;
  }
  /* line 138, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .club {
    background-position: 4px -162px;
    background-size: 746px;
  }
  /* line 139, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .rupay {
    background-position: 3px -190px;
    background-size: 746px;
  }
  /* line 140, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .maestro {
    background-position: 1px -219px;
    background-size: 746px;
  }
  /* line 141, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .tick {
    right: 5px;
    top: 11px;
    background-position: -63px -109px;
    width: 18px;
    height: 17px;
    background-size: 725px;
  }
  /* line 142, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .radioBox input[type=radio]:checked.bank_select + label .tick {
    background-position: -85px -109px;
    width: 18px;
    height: 17px;
    background-size: 725px;
  }
  /* line 143, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .mt7 {
    margin-top: 7px;
  }
}

@media only screen and (max-width: 360px) {
  /* line 146, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .addBankBar .cardDetails, .addBankBarCvv .cardDetails {
    width: 36%;
    float: left;
  }
  /* line 147, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/mobile.scss */
  .maestro, .club, .master {
    width: 37px;
    height: 23px;
  }
}

/*# sourceMappingURL=mobile.css.map */