/* line 14, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-darkblue {
  color: #052F5F;
}

/* line 15, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-p {
  color: #163D6A;
}

/* line 16, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clr-g {
  color: #69829F;
}

/* line 17, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.tab_btn {
  background-color: #fff;
}

/* line 18, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.btn {
  background-color: #2C3BD9;
}

/* line 20, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-grey {
  background-color: #f5f7f9;
}

/* line 21, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-darkgrey {
  background-color: #E6EBEF;
}

/* line 22, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-lightgrey {
  background-color: rgba(230, 235, 239, 0.4);
}

/* line 23, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.bg-darkblue {
  background: #032143;
}

/* line 25, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.box_shdow {
  box-shadow: 0 2px 4px 0 rgba(109, 140, 169, 0.1), 0 8px 24px 0 rgba(49, 63, 75, 0.12);
}

/* line 26, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.box_shdow1 {
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* line 29, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.desktop .Vert_tabs input[name="sections"]:checked + label {
  background: linear-gradient(135deg, #9E65DA 0%, #EE609C 100%);
  box-shadow: 0 2px 4px 0 rgba(5, 47, 95, 0.04), 0 12px 16px 0 rgba(52, 105, 203, 0.12);
}

/* Victor */
/* line 46, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.white-bg {
  background: #ffffff;
}

/* line 47, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.base-color {
  color: #052F5F;
}

/* line 48, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.base-border {
  border-bottom: 1px solid rgba(218, 223, 228, 0.2);
}

/* line 49, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.paySprite {
  background-image: url("../images/payment_sprite.png");
}

/* line 50, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.anchor-color {
  color: #2C3BD9;
}

/* line 51, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.second_color {
  color: #69829F;
}

/* line 52, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.trd_color {
  color: #163D6A;
}

/* line 53, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.primaryBtn {
  background: #2C3BD9;
}

/* line 54, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.titleBar {
  background: #EFF4FA;
}

/* line 55, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.lgtGrayBg {
  background-color: #E6EBEF;
}

/* line 56, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.secondBtn {
  background: #ffffff;
}

/* line 57, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.secondBdr {
  border: 1px solid #2C3BD9;
}

/* line 58, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.overlay {
  z-index: 98;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 59, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.overlayv2 {
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

/* line 60, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.loader_parent {
  z-index: 1;
  background: #ffffff;
  padding: 18px;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: flex;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
}

/* line 62, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}

/* line 63, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.circle_v2 {
  padding: 10px 10px 5px;
  width: auto;
  height: fit-content;
  border-radius: 100%;
  top: 2px;
  position: relative;
  background: linear-gradient(135deg, #2258E0 0%, #35B3F5 100%);
  margin-right: 10px;
  float: left;
  text-align: center;
}

/* line 64, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.circle_v2 img {
  width: 24px;
  position: relative;
  border-style: none;
}

/* line 65, D:/xampp/htdocs/Payment Gateway/paisabazaarpaymentgatewayhtml/sass/theme1.scss */
.loading-text {
  margin: 0;
  font-size: .875rem;
  font-weight: 700;
}

/* Victor */

/*# sourceMappingURL=theme1.css.map */