
@import 'helpers/_mixins.scss';
@import 'helpers/_utility.scss';
@import 'helpers/_normalize.scss';
@import 'helpers/_alignment.scss';
@import 'helpers/_colors.scss';
@import 'helpers/_font.scss';
@import 'helpers/_loader.scss';
@import 'helpers/_form.scss';
@import 'helpers/_checkbox.scss';
@import 'theme1.scss';

.fullCon {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.btn{outline:none;}
.another_btn{ border:1px dashed #2C3BD9; color:#2C3BD9; line-height:21px; 
    width:91%; display:inline-block;
  .add{background-position:0 -519px; width:17px; height:17px; margin:0px; display: inline-block; vertical-align:middle;}
}
.d_sprite{background:url("../images/payment_sprite.png") no-repeat 0 0;}
.space_content{justify-content:space-between;}
.align_C{align-items:center;}
.align_R{align-items: flex-end;}
.justify-center{justify-content: center;}
.wid70{width:80%;}
.wid63{width:63%;}
.wid30{width:20%;}
.wid40{width:40%;}
.wid50{width:50%;}
.wid100{width:105px;}
.wid100p{width:100%;}
.line_h{line-height:10px;}
.ovH{overflow:hidden;}
.error_bdr{border:solid 1px #fb887d;}
.debit_option input.cvv_input.error_bdr{border:solid 1px #fb887d;}
.f_normal{font-style:normal;}

.net_icon, .debit_icon, .wallet_icon, .upi_icon{width:30px; height:22px; @extend .dIB; @extend .V_m;}
.net_icon{background-position:-116px -70px; background-size:746px;}
.debit_icon{background-position:-126px 0px; background-size:755px;}
.wallet_icon{background-position:-114px -26px; background-size:703px;}
.upi_icon{background-position:-59px -75px; background-size:755px;}
.Vert_tabs input[name="sections"]:checked + label {
    .net_icon{background-position:-151px -70px;}
    .debit_icon{background-position:-163px 0px;}
    .wallet_icon{background-position:-147px -26px;}
    .upi_icon{background-position:-84px -75px;}
}
.visa, .american, .rupay{width:57px; height:19px;}
.master, .club, .maestro{width:40px; height:23px;}
.visa{background-position:0 -75px; background-size:746px; }
.american{background-position:0 -100px; background-size:746px;}
.master{background-position:0 -128px; background-size:746px;}
.club{background-position:4px -162px; background-size:746px;}
.rupay{background-position:3px -190px; background-size:746px;}
.maestro{background-position:1px -219px; background-size:746px;}
.bank_logos{top:-39px;}

.rgt_arw{background-position:-1px -293px; width:10px; height:20px; background-size:883px;}
.tick{background-position:-63px -109px; width:18px; height:17px; background-size:725px; }
.product_img{ width:40px; height:40px; box-shadow: 0 12px 16px 0 rgba(52,105,203,0.12); @extend .dF; @extend .justify-center;}
.txt_pos{bottom:10px; left:7px; @extend ._L;}
.pay{border:1px solid #fff;
    .tick{display:none;}
    &:hover{border:1px solid #5AA804; box-shadow: 0 2px 4px 0 rgba(5,47,95,0.04), 0 12px 16px 0 rgba(52,105,203,0.12);
        .tick{background-position:-85px -109px; box-shadow:none; display:block;}
    }
}


.logo{background-position:0 0; background-size: 655%; width:175px; height:31px;}
.dss_logo{background-position:0 -24px; background-size:733%; width:83px; height:32px;}
.log_div{border:1px solid #052F5F;}

.container{width:90%; margin:0 auto;}

.body_article{flex:65%;}
.body_aside{flex:30%; padding-left:30px;}
.order_ul li{@extend .dF; @extend .space_content; padding:15px 0; border-bottom:dashed 1px #E8ECF0;  
    &:last-child{border-bottom:none;} 
}
.bg-grey input.coupon{border:dashed 1px #c5cfda; background: transparent; outline:none;
width:100%; box-sizing:border-box;}
.progress{border-top:solid 4px #D4D4D4; width:100%; border-top-left-radius:4px;
    border-top-right-radius:4px;
    span{display:flex; flex:1 1 auto;
        &.selected{background:#fbab7e; height:4px; margin-top:-4px;}
        &.selected:first-child{border-top-left-radius:4px;}
        &.selected:last-child{border-top-right-radius:4px;}
    }
}
.bank_option {
    overflow: hidden;
    span { margin:.1875rem;}
    span input[type=radio]:checked.bank_select+label {
        border:1px solid #5AA804; box-shadow: 0 2px 4px 0 rgba(5,47,95,0.04), 0 12px 16px 0 rgba(52,105,203,0.12);
    }
    span input[type=radio]:checked.bank_select+label .tick{background-position:-85px -109px; width:18px; height:17px; background-size:725px; right:4px; top:6px;
    }
    span>label {
        width:5.8rem; @extend .dIB; height:106px; @extend .bg-f; border:1px solid #E6EBEF; @extend .pd10; box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);
        img{float:left;}
    }
    span>label>i {
        height:40px; margin:.3125rem auto;
    }
    .tick{right:6px; top:7px;}    
}
.bank_option span>label{text-align:left;}
.debit_option{
  span > label{height:35px; width:29.9rem;}  
  span.bank_logo_bank{margin-bottom:12px;
      .img_box{width:80px;
        img{max-width:100%; height:auto; display:block}
      }
  }
  .tick, span input[type=radio]:checked.bank_select+label .tick{right:10px; top:18px;} 
  input.cvv_input{height:34px; width:61px;  @extend .bdr4; @extend .bg-f; @extend .V_m; @extend .pd5; box-sizing:border-box; @extend .clr-g; @extend .fw-6; @extend .fs-14;  @extend .bdr0; border:1px solid #E6EBEF; outline:none;}
  input.cvv_input::placeholder{ @extend .clr-g;}
}
span .bank_card{width:60px; margin-bottom:0;}
/*Select CSS start here */
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance:none; outline:0; box-shadow:none; background-image:none;
}
/* Remove IE arrow */
select::-ms-expand {
  display:none;
}
/* Custom Select */
.select {
  @extend .p-R; @extend .dF; @extend .bdr4; height:3em; line-height:3; overflow: hidden;
}
select {
  flex: 1;  padding:0 .9em;  @extend .clr-darkblue; @extend .bdr4;  @extend .hand;  border:1px solid #E6EBEF; @extend .fs-12; @extend .fw-6; @extend .bg-f; font-family: 'Open Sans', sans-serif;
}

/* Arrow */
.select::after {
  content: ' '; background:url("../images/payment_sprite.png") no-repeat 0 -282px;
  position: absolute; background-size:780px; width: 0px; height:11px;
  top:19px; @extend ._oR;  padding:0 1em;  @extend .hand;  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {color:#f39c12;}
/*Select CSS End here */

.card_detail{border:1px solid #E6EBEF;
  .inner{padding:20px 57px;}
  input.detail_input{ box-sizing:border-box; width:100%;
    border:1px solid #E6EBEF; @extend .bg-f; @extend .bdr4;   
    @extend .bdr0; padding:10px 15px; @extend .fw-6; @extend .fs-14; @extend .clr-darkblue;
  }
  input.detail_input::placeholder{
        @extend .clr-g; @extend .fw-6;  @extend .fs-14;
  }
}
.UPI_pad{padding:0px 50px;
  span > label{width:24rem;}
  .bank_logo_bank{margin-left:0; margin-right:0;}
}
.cvv_div{right:40px; top:11px;}
.other_pad{padding:0px 50px;}

.input_logo{right:13px; top:30px;} 
.form_group span, .form_group ._line{margin:0;}
.form_select{
  .select{height:1.6em;}
  select{border:none; border-bottom:1px solid rgba(5, 47, 95, 0.2); border-radius:0; padding:0; width:11em;}
  .select::after{top:8px; right:-10px;}
  label.name{@extend .fw-6;}
}

.hide-m, .hide{display: none;}
.upi_con{width:510px; height:200px; justify-content:center; align-items:center;}

/* Modal CSS start here */
.full_overlay {opacity:0.85;}
.modal_page {
    width: 31%; height:100vh; padding:0 40px; @extend .dF;
    overflow-x:auto; justify-content:center; align-items:center; box-sizing:border-box;
}
.bdr_btn{ border: 1px solid #2C3BD9; @extend .bdr4; @extend .bg-f; color:#2C3BD9;}
/* Modal CSS End here */
.back_arw {background:url("../images/back_arrow.svg") no-repeat; width:20px; height: 15px; vertical-align:middle;}
footer{
 a{color:#1996FF;
     img{width:74px;}
  }
}

@media only screen and (min-width:1439px) and (max-width:1440px)  {
    .select{width:90%; display:inline-flex;}
    .another_btn{width:83%;}
}

@media only screen and (min-width:1280px) and (max-width:1280px)  { 
    .bank_option.net span > label{width:5.1rem;}
    .another_btn{width:91%;}
}

@media only screen and (max-width:1024px)  {
  .modal_page {width:50%;} 
  .container{width:95%;}
  .body_article{flex:77%;}
  .debit_option span > label{width:21.5rem;}
  .another_btn{width:87%;}
}

@media only screen and (max-width:768px)  {
  .Vert_tabs section label.tab_btn{width:165px;}
  .debit_option span > label{width:16.5rem;}
  .another_btn{width:80%;}
}
