@import 'helpers/_mixins.scss';
@import 'helpers/_utility.scss';
@import 'helpers/_normalize.scss';
@import 'helpers/_alignment.scss';
@import 'helpers/_colors.scss';
@import 'helpers/_font.scss';
@import 'helpers/_loader.scss';
@import 'helpers/_form.scss';
@import 'helpers/_checkbox.scss';
@import 'theme1.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* Payment Gateway */
.bnone{border:none!important;}.w100{width:100%!important;}.w50{width:50%;}.pLR15{padding:0 15px;}.pTB15{padding:15px 0;}section{position:relative;}body{font-family: 'Open Sans', sans-serif;}.hide{display:none;}.show{display:block}.f-R{float:right;}.pb30{padding-bottom:30px;}.vAtB {vertical-align: text-bottom;}.vAtT {vertical-align: text-top;}.tDn{text-decoration:none;}.pl40{padding-left:40px;}.bdr8{border-radius:8px;}.bdr6{border-radius:6px;}.bdr5{border-radius:5px;}.pR{position:relative;}
.mR10{margin-right:10px;}.mR15{margin-right:15px;}.clear{clear:both;}.fs-30{font-size:30px;}.fwB{font-weight:bold;}.pb0{padding-bottom:0;}a{text-decoration:none;}
.mB30{margin-bottom:30px;}
@media only screen and (max-width:768px)  {  
.backSection a.backArrow{width:20px; height:20px;margin-right: 10px;}
.mfContainer{background: -moz-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(100%, #E6EBEF)); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, #ffffff 50%, #E6EBEF 100%); /* ie10+ */
background: linear-gradient(180deg, #ffffff 50%, #E6EBEF 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E6EBEF',GradientType=0 ); /* ie6-9 */}
.mfBox{box-shadow: 0 2px 4px 0 rgba(5,47,95,0.04), 0 12px 16px 0 rgba(52,105,203,0.12); 
background: -moz-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF9717), color-stop(100%, #FF3B79)); /* safari4+,chrome */
background: -webkit-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%); /* opera 11.10+ */
background: -ms-linear-gradient(89deg, #FF3B79 0%, #FF9717 100%); /* ie10+ */
background: linear-gradient(1deg, #FF3B79 0%, #FF9717 100%); /* w3c */ padding-left:4px;}
.mfInnerBox{padding:12px 10px 12px 15px; display:flex;display: -webkit-flex;}
.mfInnerBox div:nth-of-type(1) {-webkit-flex-grow: 1;}
.mfInnerBox div:nth-of-type(2) {-webkit-flex-grow: 3;}
.mfInnerBox div:nth-of-type(3) {-webkit-flex-grow: 1; align-self: flex-end; margin-bottom:10px;}
.mfDetails img{margin-left:5px;vertical-align: middle;}
.commonBoxPad{padding:30px 15px 0 15px;}
.commonTitle{margin-bottom:15px;}
.commonTitle img{margin-left:15px;}
.addCommon{border:1.5px dashed #828bef;border-radius: 4px; overflow:hidden;}
.addCommon img{margin-right:5px;}
.addCommon a{display:block;}
.addBank { ul { margin: 0;  padding: 0; list-style: none; }
li { display: inline-block;}
a { display: block; padding:6px 12px 6px 0px;  text-decoration: none; }}
.addBank ul{display:flex;display: -webkit-flex;}
.addBank ul li:nth-of-type(1) {-webkit-flex-grow: 1;}
.addBank ul li:nth-of-type(2) {-webkit-flex-grow: 1;}
.addBank ul li:nth-of-type(3) {-webkit-flex-grow: 1;}
.addBank ul li:nth-of-type(4) {-webkit-flex-grow: 1;}
.addBank ul li:nth-of-type(5) {-webkit-flex-grow: 1;}
.addBank ul li a img{width:40px; margin-bottom:7px;}
.addWallet{border: 1px solid #E6EBEF;	border-radius: 4px;	background-color: #FFFFFF;	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);margin-bottom:7px;}
addWallet a{display:block}
footer span{width:62px; height:24px;}
footer { ul { margin: 0; padding: 0; list-style: none;}
li { display: inline-block;}
li:first-child{border-right: 1px solid #1996FF; margin-right: 10px;}
a {display: block; padding:0 12px 0 0; text-decoration: none; color: #1996FF;}}
.addBankBar, .addBankBarCvv{display:block;padding:7px 15px;border: 1px solid #E6EBEF;	border-radius: 4px;	background-color: #FFFFFF;	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);margin-bottom:7px;float: left; width: -webkit-fill-available;}
.addBankBar .providerIcon, .addBankBarCvv .providerIcon{width:20%; float:left;}
.addBankBar .cardDetails, .addBankBarCvv .cardDetails{width:50%; float:left;}
.addBankBar .cvvDiv, .addBankBarCvv .cvvDiv{width:20%; float:left;}
.addBankBar .checkTick, .addBankBarCvv .checkTick{width:10%; float:right;}
.addBankBar .providerIcon img{vertical-align: -webkit-baseline-middle; margin-top: 7px;}
.addUpiBar{display:flex;display: -webkit-flex;padding:7px 15px;border: 1px solid #E6EBEF;	border-radius: 4px;	background-color: #FFFFFF;	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.07);margin-bottom:7px;}
.addUpiBar div:nth-of-type(1) {-webkit-flex-grow: 1;}
.addUpiBar div:nth-of-type(2) {-webkit-flex-grow: 7;}
.addUpiBar .providerIcon img{vertical-align: -webkit-baseline-middle; margin-top: 7px;}
.addBankBarCvv .providerIcon img{vertical-align: -webkit-baseline-middle; margin-top: 7px;}
.addBankBarCvv .cvvDiv input{width:55px;vertical-align: -webkit-baseline-middle; margin-top:6px; padding: 5px;	border: 1px solid #E6EBEF;	background-color: #FFFFFF;	box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.1);}
input[type=radio]:checked.bank_select + label.addBankBar, input[type=radio]:checked.bank_select + label.addBankBarCvv{border: 1px solid #5AA804; outline:none;}
input[type=radio]:checked.bank_select + label.addBankBarCvv .checkTick, input[type=radio]:checked.bank_select + label.addBankBar .checkTick{background-image:url("../images/checkIconActive.svg");} 
.addBankBarCvv:focus, .addBankBarCvv .cvvDiv input:focus, .addBankBarCvv:focus .checkTick{border: 1px solid #5AA804; outline:none;}
.addBankBarCvv .checkTick, .addBankBar .checkTick{background-image:url("../images/checkIcon.svg");background-repeat:no-repeat;background-repeat: no-repeat;
    background-position: 0 11px;}
.fixedBtn{position: fixed; width: -webkit-fill-available; bottom: 0;z-index:1;} 
.providersList ul{display:flex;display: -webkit-flex; margin-bottom:25px;}
.providersList ul li{-webkit-flex-grow: 1;flex-grow: 1;}
.providersList {ul { margin: 0; padding: 0; list-style: none;}
  li { display: inline-block;}}
.card{background-image:url("../images/cardBg.svg"); width: 260px; height: 155px; background-repeat: no-repeat; margin: 0 auto; background-size: contain;}
.card .feilds input{width: 100%; background: none; border: none; outline:none;}
.card .feilds input:focus{outline:none; border:none;}
.enterManual{display:flex;display: -webkit-flex;}
.enterManual div:nth-of-type(1) {-webkit-flex-grow: 1;flex-grow: 3;}
.enterManual div:nth-of-type(2) {-webkit-flex-grow: 1;flex-grow: 1;}
.enterManual input{ width:84%;border: 1px solid #E6EBEF;}
.enterManual input::placeholder{opacity:0.6;}
.enterManual button.next{ width: -webkit-fill-available;background-color: #2C3BD9;border:1px solid #2C3BD9; padding:15px 20px;}
.styled-checkbox { position: absolute; opacity: 0; & + label { position: relative;  cursor: pointer;  padding: 0; }
& + label:before { content: '';margin-right: 10px; display: inline-block; vertical-align: text-top; width:15px; height:15px; background: white; border:1px solid #d4d1d1; margin-top: -1px; }
 &:hover + label:before { background: #dad9d9; }
 &:checked + label:before { background:#2C3BD9; }
 &:disabled + label { color: #2C3BD9; cursor: auto;  }
 &:disabled + label:before { box-shadow: none; background:#dad9d9;}
 &:checked + label:after { content: ''; background:#2C3BD9; position: absolute; left: 3px; top: 7px; background: white; width: 2px; height: 2px; font-weight:700;}}
.enterManual input.password{ width:84%;border: 1px solid #E6EBEF;}
.bankBar{display: block; border-bottom: 1px solid #E6EBEF; background-color: #FFFFFF;  width: -webkit-fill-available; overflow: hidden;}
.bankBar .providerIcon img{width:20px; margin-right:15px;}
.notAva{ padding: 6px 10px; border-radius: 15px;}
.totalInvestment{display:flex;display: -webkit-flex;border-bottom: 1px dashed #E8ECF0;}
.totalInvestment div:nth-of-type(1) {-webkit-flex-grow: 6;flex-grow: 6;}
.totalInvestment div:nth-of-type(2) {-webkit-flex-grow: 1;flex-grow: 1;}
.dashedInput{border:2px dashed #E8ECF0; width: -webkit-fill-available;}
.dashedInput::placeholder{opacity:.6;}
*:focus{outline:none;}
.ovarLay{background-color: rgba(5, 47, 95, 0.8); width: 100%; height: 100%; opacity: .9;position:fixed; top: 0;  z-index:0;}
.payPopup{bottom: 0;z-index: 1; border-radius:24px 24px 0 0;}
.payPopup .popupTitle{background:#E6EBEF; padding:8px 0 12px 0; border-radius:24px 24px 0 0;}
.payPopup .popupTitle span{height: 4px; width: 40px;  opacity: 0.2; border-radius: 2px; background-color: #052F5F; margin:0 auto 8px auto;}
.payMode{display:flex;display: -webkit-flex;flex-wrap: wrap;}
.payMode div {-webkit-flex-grow: 2;flex-grow: 2;width: 33.3%;}
.payMode div img{height:31px;}
.mT7{margin-top:7px;}
.Vwbm{vertical-align: -webkit-baseline-middle;}
.payMode .payInpBar {border:1px solid #E6EBEF; border-radius:4px; background-color: #FFFFFF;  box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.07);}
.upiFeildRow{display:flex;display: -webkit-flex;}
.upiFeildRow div:nth-of-type(1) {width: 50%;}
.upiFeildRow div:nth-of-type(2) {width: 10%; border-bottom: 1px solid #ffffff;} 
.upiFeildRow div:nth-of-type(3) {width: 40%;overflow: hidden;}
.upiFeildRow label{}
.upiFeildRow input{border:none;border-bottom:1px solid #052F5F; padding:5px 0; width: -webkit-fill-available;}
.upiFeildRow input::placeholder{opacity:0.6}
.upiFeildRow input.atTheRate{padding: 0 0 0 4px; cursor:none;}
select{border: none; margin: 4px 0 0 0; width: -webkit-fill-available; padding: 8px 0 5px 0; border-bottom: 1px solid #052F5F;}
.fs-29{font-size:29px;}
.vAU{vertical-align:unset;}
input.radio:empty { margin-left: -999px; visibility:hidden;}
.d_sprite {background: url(../images/payment_sprite.png) no-repeat 0 0;}
.visa, .american, .rupay { background-position: 1px -219px; background-size: 746px;} 
.visa, .american, .rupay{ width: 54px; height:23px;}
.maestro, .club, .master{width: 38px; height:23px;}
.visa { background-position:0px -55px; background-size:605px;}
.american { background-position: 0 -100px; background-size: 746px;}
.master { background-position: 0 -128px; background-size: 746px;}
.club {background-position: 4px -162px; background-size: 746px;}
.rupay {background-position: 3px -190px; background-size: 746px;}
.maestro {background-position: 1px -219px; background-size: 746px;}
.tick {right: 5px; top: 11px;  background-position: -63px -109px; width: 18px; height: 17px; background-size: 725px;}
.radioBox input[type=radio]:checked.bank_select + label .tick { background-position: -85px -109px; width: 18px; height: 17px; background-size: 725px;}
.mt7{margin-top:7px;}
}
@media only screen and (max-width:360px){
.addBankBar .cardDetails, .addBankBarCvv .cardDetails { width: 36%; float: left;}
.maestro, .club, .master { width: 37px; height: 23px;}
}