$clr-darkblue:#052F5F;
$primary: #163D6A;
$box-shadow: 0 2px 4px 0 rgba(109,140,169,0.1), 0 8px 24px 0 rgba(49,63,75,0.12);
$box-shadow1: 0 2px 4px 0 rgba(5,47,95,0.04), 0 12px 16px 0 rgba(52,105,203,0.12);
$progress:linear-gradient(297.24deg, #F7CE68 0%, #FBAB7E 100%);
$bg-grey:#f5f7f9;
$second:#69829F;
$tab_btn:#fff;
$btn:#2C3BD9;
$dark_grey:#E6EBEF;
$light_grey:rgba(230,235,239,0.4);
$bg-darkblue:#032143;

.clr-darkblue{color:$clr-darkblue;}
.clr-p{color:$primary;}
.clr-g{color:$second;}
.tab_btn{background-color:$tab_btn;}
.btn{background-color:$btn;}

.bg-grey{ background-color:$bg-grey;}
.bg-darkgrey{background-color:$dark_grey;}
.bg-lightgrey{background-color:$light_grey;}
.bg-darkblue{background:$bg-darkblue;}

.box_shdow{box-shadow:$box-shadow}
.box_shdow1{box-shadow:$box-shadow1}

.desktop{
	.Vert_tabs input[name="sections"]:checked + label{background: linear-gradient(135deg, #9E65DA 0%, #EE609C 100%); box-shadow: 0 2px 4px 0 rgba(5,47,95,0.04), 0 12px 16px 0 rgba(52,105,203,0.12);}
}

/* Victor */
$bg-base-white:#ffffff;
$base-color:#052F5F;
$base-border:1px solid rgba(218,223,228,.2);
$paySprite:url("../images/payment_sprite.png");
$anchorColor:#2C3BD9;
$secondColor:#69829F;
$trdColor:#163D6A;
$primaryBtn:#2C3BD9;
$titlebar:#EFF4FA;
$lgtGrayBg: #E6EBEF;
$secondaryBtn:#ffffff;
$secondaryBdr:1px solid #2C3BD9;

.white-bg{background:$bg-base-white;}
.base-color{color:$base-color;}
.base-border{border-bottom:$base-border;}
.paySprite{background-image:$paySprite;}
.anchor-color{color:$anchorColor;}
.second_color{color:$secondColor}
.trd_color{color:$trdColor}
.primaryBtn{background:$primaryBtn;}
.titleBar{background:$titlebar;}
.lgtGrayBg{background-color:$lgtGrayBg;}
.secondBtn{background:$secondaryBtn;}
.secondBdr{border:$secondaryBdr;}
.overlay { z-index: 98; background: rgba(0,0,0,0.6); overflow-x: hidden; overflow-y: auto; position: fixed; top: 0; height: 100%; width: 100%;}
.overlayv2 {z-index: 100; background: rgba(0,0,0,0.6); overflow-x: hidden; overflow-y: auto; position: fixed; top: 0; height: 100%; width: 100%;}
.loader_parent{z-index:999;background:#ffffff;padding: 18px;align-items: center; justify-content: center; left: 50%; top: 50%; transform: translate(-50%, -50%);
    border-radius: 4px; display: flex; position: absolute;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); width: 60%;}
.clearfix:before, .clearfix:after {display: table; content: " ";}
.circle_v2 { padding: 10px 10px 5px; width: auto; height: fit-content; border-radius: 100%; top: 2px; position: relative; background: linear-gradient(135deg, #2258E0 0%, #35B3F5 100%); margin-right: 10px; float: left; text-align: center;}
.circle_v2 img {width: 24px; position: relative;border-style: none;}
.loading-text {margin: 0;font-size: .875rem;font-weight: 700;}
/* Victor */ 