// colors

$white:#fff;
$primary2: #808080;
$sky-blue:#2C3BD9;
$danger:#d6140b;

body { color:$primary2; background-color:$white;}
.bg-f{ background-color: $white;}

.clr-f { color:$white; }
.clr-skyblue{ color:$sky-blue; }
.clr-red { color:$danger; }


























