/* Form start here */


.form_box {padding:0px 30px 30px;}
.form_group{padding-top:30px; margin-bottom:24px;
    input.custom_input { border:none; height:25px; border-bottom:1px solid rgba(5, 47, 95, 0.2); display:block; font-weight:600; font-size:16px; @extend .bdr0; padding-bottom:6px; outline:none; color:#052F5F;
    }
    input.custom_input::placeholder{
        color:#5F7A99;
        opacity: 0.6; @extend .fw-5;  font-size:16px;
    }
    input.custom_input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #5F7A99;
        opacity: 0.6; font-weight:500;
        font-size:16px; 
    }
    input.custom_input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #5F7A99;
        opacity: 0.6; @extend .fw-5;  font-size:16px;
    }
}
 
label.name {         
    font-size:14px; color:#052F5F;;
    top:0px;
    pointer-events:none;
    transition: 0.2s ease all;
    z-index:3;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus~label.name, input.filled-valid ~ label.name{
    top:0px; font-size:12px; 
    @extend .op6;
} 
.eror{visibility:hidden; opacity:0; display:none;}
.error span.eror{display:block;}
.error label.name, .error span.eror{
    color: #D72716;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.error span:before, .error span:after {
    background:#D72716;
}
.help_txt {bottom:7px;}
.note_txt {margin-top:1px;}
.rupee-icon{background:url(../images/rupee-symbol.svg) no-repeat 0 0; width:13px; height:16px;}

input.with_symbols~span.symbols{visibility:hidden; opacity:0;}
input.with_symbols:focus~span.symbols{visibility:visible; opacity:1; bottom:2px; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear; transition: all 0.5s linear;}
input.with_symbols:focus{padding-left:14px;}

/* BOTTOM _lineS starts */
._line:before,
._line:after {
    content: '';
    height: 2px;
    width: 0;
    @extend ._oB;
    @extend .p-A;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
._line:before {
    left: 50%;
}
._line:after {
    right: 50%;
}
/* active state */

input:focus~._line:before,
input:focus~._line:after, .error ._line:before, .error ._line:after,{
    width: 50%;
}
/* Form End here */

@media only screen and (max-width:640px)  {
.pdlr15 {padding-left:0px; padding-right:0px;}
}