/*===loader===*/

.bdr_btn .spinner > div{ background:#2C3BD9;}
.spinner{ width:91px; height:27px;
        > div {
          @extend .bg-f;
          height: 100%;
          width:4px;
          @extend .dIB;
          margin-left:2px;
          -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
          animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        .rect2 {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
        }
        .rect3 {
          -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
        }
        .rect4 {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
        }
        .rect5 {
          -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
        }

  }  
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
   
/*loader End*/

/*tabs start here*/
.Vert_tabs{ @extend .dB;
      input[name="sections"] {left:-9999px; @extend .p-A; top:-9999px;}
      section {@extend .dB;}
      section label.tab_btn{
          border-radius:8px; border: 1px solid #E6EBEF; 
          @extend .hand; @extend .dB; @extend .p-R;
          padding:15px 20px; width:234px; z-index:100;
          margin-bottom:20px;
        }
        section article {
          
          padding:0 0 0 30px;
          
          @extend ._oT;
        }
        section article:after {
          @extend ._oB; @extend .dB; @extend .p-A; @extend ._oT;
          content: "";          
          left:-229px;
          width: 220px;
          z-index:1;
        }
        input[name="sections"]:checked + label {
          @extend .clr-f;
        }
        input[name="sections"]:checked ~ article {
          @extend .dB; 
        }
  
}
@media (max-width: 533px) {  
  .Vert_tabs {
    width: 100%;
  }
  
  .Vert_tabs section label {
    font-size: 1em;
    width: 160px;
  }  

 .Vert_tabs section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .Vert_tabs section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {
  .Vert_tabs {
    /* width: 96%; */
  }
}

/*tabs ENd here*/

/*Accordion start here*/
$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);

.accordion { 
    input[name='panel'] {display:none;}
    label { 
      @extend .p-R; padding:10px 0;  border-bottom:2px solid #f5a623; 
      @extend .dB; font-size:15px; color:#052F5F;
      @extend .hand; transition: all $timing $ease;
      
      &:after {content: '+'; @extend  .fs-22; line-height:18px;
        @extend .p-A; right:0; width:1em; height:1em; color:#052F5F; @extend ._C;
        border-radius: 50%;
      }    
      &:hover {color:#052F5F;}        
    }  
    input:checked + label {
      color:#052F5F;
      &:after {
        content: '-';
        /* adjsut line-height to vertically center icon */
        line-height: .8em;
      }
      
    }  
    .accordion_content {  
      overflow: hidden;
      height: 0px;
      @extend .p-R; @extend .p0;
      color:#052F5F;
      transition:height $timing $ease;
    }
}

input[name='panel']:checked ~ .accordion_content.accordion_content {
  height:auto; padding:10px;
}