@import '_mixins.scss';
/*utility*/

$fontfamily:'Open Sans', sans-serif;

.row, .fullCon, .clear{box-sizing: border-box;}

.uCase { text-transform: uppercase;}
.camCase { text-transform: capitalize;}
.lCase { text-transform: lowercase;}
.hand { cursor: pointer;}

.bdr_top{ border-top:solid 1px #E6EBEF;}
.outline { outline:1px solid #ddd;}
.bdr0 {border:0;}
.bdr_b{border-bottom:solid 1px #E6EBEF;}
.bdr_line{border-top:solid 1px rgba(228,234,240,1); clear:both;}

input, textarea, button, select, a, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.list_n{list-style:none;}
.TdecorN, a.TdecorN:hover{text-decoration:none;}


.m0 {margin:0;}
.m10 {margin:rem(10);}
.mTB5{margin:5px 0;}
.mT8{margin-top:8px;}
.mTB10{margin:0.625rem 0;}
.mT5{margin-top:0.3125rem;}
.mT10{margin-top:0.625rem;}
.mT20{margin-top:1.25rem;}
.mB15 {margin-bottom:rem(15);}
.m0A { margin: 0 auto;}
.ml10 { margin-left:rem(10);}
.mr10 {margin-right:0.625rem;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}


.mB5{margin-bottom:0.3125rem;}
.mT50{margin-top:54px;}
.mTB0 {margin-top:0;margin-bottom: 0;}
.mLR10 {margin:0 0.625rem;}
.mLR20 {margin:0 20px 0 20px;}

.mB20{margin-bottom:1.25rem;}
.mB10{margin-bottom:0.625rem;}


.p0 {padding:0;}
.pTB10 {padding:0.625rem 0;}
.pTB15 {padding:15px 0;}
.pTB20 {padding:20px 0;}
.pTB4 {padding:4px 0;}
.pB10 {padding-bottom:0.625rem;}
.pd10 {padding:0.625rem;}
.pd5 {padding:0.3125rem;}
.pd15 {padding:rem(15);}
.pT10 {padding-top:0.625rem;}
.pdl10 {padding-left:0.625rem;}
.pdr10 {padding-right:0.625rem !important;}
.pdlr10 {padding-left:0.625rem; padding-right:0.625rem;}
.pd18 {padding:1.125rem;}
.pTB30{padding:30px 0;}
.pT30{padding-top:30px;}
.pTB50{padding:30px 0 40px;}
.pdlr15 {padding-left:15px; padding-right:15px;}


.op5 {opacity: 0.5;}
.op6 {opacity: 0.6;}
.op0 {opacity: 0;}

._z9 {z-index: 9;}
._z99 {z-index: 99;}
._z999 {z-index: 999;}
._z10000{z-index: 10000}

.V_t{vertical-align:top;}
.V_m{vertical-align:middle;}
.V_b{vertical-align:bottom;}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.bdr2{ @include border-radius(2px);}
.bdr4{ @include border-radius(4px);}
.bdr8{ @include border-radius(8px);}